body{
	background-color: #f4f4f4;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;
}
a:active{
	color: green;
}
.button{
	background-color: black;
	color: white;
	padding: 10px;
	border:none;
}
.button:hover{
	background-color: red;
	color:lime;
}

.container{

	width: 50%;
	margin: auto;
	height: 50%;
}
.container h1{
	 padding-left: 150px;
	}
.catagory{

	border : 3px #333 solid;
	margin:20px;
	border-radius:20px;
	padding-left:20px;
}
.catagory h3{

	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	padding-top: 20px;
}
.catagory ul{
   padding: 20px;


}
.catagory ul li{
   

border-bottom: 1px dotted #333;

}
.my-form{

	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form input [type="text"] {

	padding: 8px;
	width: 100%;
}