#response {
    
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 7%;
    margin-left: 35%;
    
}

.page-content {
    
    width: 63%;
    
    
}

#page-title {
    
    margin-top: 10%;
    margin-left: 22%;
    font-size: 35px;
    margin-bottom: 10%;
    border-left: 5px solid #f05454;
    text-transform: uppercase;
    color: #f05454;
    
}

.box {
    
    display: inline-block;
    margin-right: 10%;
    border: 1px solid black;
    height: 300px;
    box-shadow: 5px 5px #d2d3c9;
    
}

.box:hover {
    
    box-shadow: 5px 5px #f05454;
    
}

.title {
    
    height: 70px;
    width: 210px;
    background-color: #f05454;
    color: white;
    
}

.title h1 {
    
    text-align: center;
}

.info p {
    
    margin-top: 10%;
    font-size: 20px;
    color: #f05454;
    
}

input[type=button] {
    
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #222831;
    color: white;
    margin-top: 30%;
    margin-left: 24%;
}

input[type=button]:hover{
    
    background-color: white;
    color: black;
    
}